<h3 class="name anchorable-toc">
  {{#link-to this.routeName item.name class="toc-anchor"}}{{/link-to}}
  <code>{{item.name}}</code>
</h3>

<div class="meta">
  Defined in

  {{#project-link file=item.file line=item.line class="api-file-link"}}
      {{item.file}}:{{item.line}}
  {{/project-link}}

</div>

<div class="description">
  {{{item.description}}}
</div>

<p></p>
