<h3 class="name anchorable-toc">
  {{#link-to this.routeName item.name class="toc-anchor"}}{{/link-to}}
  <code>{{item.name}}</code>
</h3>

<div class="meta">
  Defined in
  <a class="api-file-link" href="https://github.com/emberjs/ember.js/tree/5fe2d63/packages/ember-application/lib/system/application.js#L749">
    {{item.file}}:{{item.line}}
  </a>
</div>
<div class="description">
  {{{item.description}}}
</div>

<p></p>
