{{#each event in model}}
  <div id="event_ready" class="event  item-entry">
    <h3 data-id="event_ready" class="name anchorable-toc">
      <a class="toc-anchor" href="#event_ready"></a>
      <code>ready</code>
    </h3>

    <div class="meta">
      Defined in
      <a class="api-file-link" href="https://github.com/emberjs/ember.js/tree/5fe2d63/packages/ember-application/lib/system/application.js#L749">
        {{event.file}}:{{event.line}}
      </a>
    </div>
    <div class="description">
      {{{event.description}}}
    </div>

    <p></p>
  </div>
{{/each}}
