{{#if model.methods}}
  <h2>Methods</h2>

  <p></p>
  <ul class="index-list">
    {{#each method in model.methods}}
      {{instance-item-list-item
        type="method"
        route-name="klass.methods.method"
        item=method
        show-private=this.private
        show-protected=this.protected
        show-deprecated=this.deprecated
        show-inherited=this.inherited
      }}
    {{/each}}
  </ul>

<p></p>
{{/if}}

{{#if model.properties}}
  <h2>Properties</h2>
  <p></p>

  <ul class="index-list">
    {{#each property in model.properties}}
      {{instance-item-list-item
        type="property"
        route-name="klass.properties.property"
        item=property
        show-private=this.private
        show-protected=this.protected
        show-deprecated=this.deprecated
        show-inherited=this.inherited
      }}
    {{/each}}
  </ul>
  <p></p>
{{/if}}

{{#if model.events}}
  <h2>Events</h2>

  <p></p>
  <ul class="index-list">
    {{#each event in model.events}}
      {{instance-item-list-item
        type="event"
        route-name="klass.events.event"
        item=event
        show-private=this.private
        show-protected=this.protected
        show-deprecated=this.deprecated
        show-inherited=this.inherited
      }}
    {{/each}}
  </ul>
{{/if}}
