{{#each method in model}}
  <div id="method__initialize" class="method private item-entry">
    <h3 data-id="method__initialize" class="name anchorable-toc">
      <a class="toc-anchor" href="#method__initialize"></a>
      <code>{{method.name}}</code>
    </h3>

    <span class="flag private">private</span>

    <div class="meta">
      Defined in
        <a class="api-file-link" href="https://github.com/emberjs/ember.js/tree/5fe2d63/packages/ember-application/lib/system/application.js#L551">{{method.file}}:{{method.line}}</a>
    </div>

    <div class="description">
      {{{method.description}}}
    </div>

    <p></p>
  </div>
{{/each}}
