<div id="sidebar">
  <ol id="toc-list">
    <li class="level-1">
      <a href="#">Projects</a>
      <ol>
        <li class="level-3 sub-selected">
          <a href="/api">Ember</a>
        </li>
        <li class="level-3 ">
          <a href="/api/data">Ember Data</a>
        </li>
      </ol>
    </li>

    <li class="level-1">
      <a href="https://github.com/emberjs/ember.js/commits/5fe2d63" target="_blank"> Tag: 5fe2d63</a>
    </li>

    <li class="level-1 selected">
      <a href="#">Modules</a>
      <ol class="selected">
        {{#each module in model.modules}}
          {{#link-to 'module' tagName='li' class='level-3'}}
            {{#link-to 'module' module.name}}{{module.name}}{{/link-to}}
          {{/link-to}}
        {{/each}}
      </ol>
    </li>
    <li class="level-1 ">
      <a href="#">Namespaces</a>
        <ol>
          {{#each namespace in model.namespaces}}
            {{#link-to 'namespace' tagName='li' class='level-3'}}
              {{#link-to 'namespace' namespace.name}}{{namespace.name}}{{/link-to}}
            {{/link-to}}
          {{/each}}
        </ol>

    <li class="level-1 ">
      <a href="#">Classes</a>
      <ol class="">
        {{#each klass in classes}}
          {{#link-to 'klass' tagName='li' class='level-3'}}
            {{#link-to 'klass' klass.name}}{{klass.name}}{{/link-to}}
          {{/link-to}}
        {{/each}}
      </ol>
    </li>

    <div id="back-to-top">
      <a id="back-top-top" href="#">⬆ Back to Top</a>
    </div>
  </ol>
</div>

<div id="content" class="has-sidebar">
  {{outlet}}
</div>
